.App {
  text-align: center;
  width: 100%;
  &_Header {
    &_Title {
      margin-bottom: 0;
    }
    &_SubTitle {
      margin-top: 0;
    }
  }
  &_Body {
    height: 50vh;
  }
  &_Genres {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 2.5rem auto;
  }
}
