.SongCard {
  &_Loading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &_Data {
    display: flex;
    justify-content: center;
    &_Title {
      text-align: left;
      padding-left: 2.5%;
      border-left: 3px solid white;
      border-image: linear-gradient(180deg, white, black) 1;
      & > h3 {
        margin-top: 35%;
      }
    }
    &_Info {
      margin-left: 2.5%;
      &_Preview {
        display: flex;
        justify-content: space-between;
      }
    }
    &_Image {
      margin-right: 2.5%;
    }
  }
}
